@media only screen and (max-width: 640px) {
	body {
		background: black;
	}
	.fmf-header-search {
		width: 100%;
		border-radius: 0px;
	}

	.gray-gradient.radius-5.padding-10{
		background:transparent;
		border-radius: 0;
		padding-left:0;	
		padding-right:0;
	}

	.subnav > .col-sm-1,
	.subnav > .col-sm-2 {
		border-bottom: solid 1px #111;
		width:90%;
		margin:0 auto 4px;
		background-color: transparent;
	}

	.subnav a{
		display: block;
		width:100%;
		min-height: 20px;
		background-color: #232323;
		padding:.5em;
		transition: background-color .2s ease-out;
		border-radius: 4px;
		color:#fff;
	}

	.subnav a:hover{
		transition: background-color .2s ease-out;
		background-color: #52EAFF;
		text-decoration:none;
	}


.fmf-ellipse-turquoise-button {
	border-bottom: solid 1px #111;
		width:90%;
		margin:0 auto 4px;
		background-color: #52EAFF;
		border-radius: 4px; 

.bold {
	color: #52EAFF;
	text-color: #52EAFF;
	background-color: #52EAFF
}
}
}
