body{
	background-color: #3B403E

}
.container{
	width: 600px;
	padding: 20px;
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	border: #CCCCCC 4px solid;
}


h1{
	text-align: center;
	color: #FFFFFF;
	font-style: italic;
	font-family: "Georgia", "Times New Roman", serif;
	font-weight: 400;
}
h2{
	text-align: left;
	color: #FFFFFF;
	font-weight: 600;
	font-family: "Helvetica", "Arial", sans-serif;
	margin: 30px 0px 20px 30px;
}
h3{
	text-align: left;
	color: #B4B7B8;
	font-family: "Helvetica", "Arial", sans-serif;
	font-size: 15px;
}
.right-border {
	border-right: #CCCCCC 2px solid;
	padding: 0px 10px 0px 0px;
	display: inline;
	color: #FFFFFF;
	}

.navs{
	padding: 10px;
	text-align: center;
	font-weight: 400;
	font-size: 17px;
	font-family: "Helvetica", "Arial", sans-serif;
	display: inline;
	color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

li{
	padding: 0 5px 0 5px;

}
a{
	color: #45E6B8;
}


.bullets{
	list-style-type: square;
	color: #FFFFFF;
}

.inline{
		display: inline;
		text-align: center;
		margin-right: auto;
		margin-left: auto;
	}
.divider{
	border: #CCCCCC 1px solid;
	margin-top: 10px;
	margin-bottom: 10px;
}
.prose{
	color: #FFFFFF;
	font-size: 17px;
	text-align: left;
	margin: 0px 30px 40px 30px;
	font-family: "Georgia", "Times New Roman", serif;
	font-weight: 300;
	line-height: 1.6;
}
img{
	float: right;
	margin: 0px 0px 20px 15px;
	padding: 4px;
	border: #CCCCCC 1px solid;
}

.bold{
	font-weight: bold;
	font-family: "Helvetica","Arial", sans-serif;
}
.bolds{
	font-weight: bold;
}
.sans-gray{
	font-family: "Helvetica", "Arial", sans-serif;
	color: #B4B7B8;
	font-size: 12px;
}
.sans-white{
	font-family: "Helvetica", "Arial", sans-serif;
	font-size: 14px;
}
.serif-gray{
	font-family: "Georgia", "Times New Roman", serif;
	color: #B4B7B8;
}


